name: List files and folders

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build docker
      run: docker build -f Dockerfile.dev -t arshaaria/docker-react .
    - name: run test command
      run: docker run arshaaria/docker-react npm run test -- --coverage
     
        
 
