name: List files and folders

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v2
    - name: Display current directory and Lists all files and folders      
      run: |
        ${{ env.GITHUB_ACTOR }}
        env | sort
